#logo {
	float: left;
	font-size: 1.5em;
	color: #ffffff;
	text-transform: uppercase;
	letter-spacing: -1px;
	font-weight: bold;

	&:hover {
		color: #f8f8f8;
		text-decoration: none;
	}
}

.align-center {
	text-align: center;
}

.jumbotron {
	background-image: asset-url('jumbotron.jpg');
	background-size: cover;

	h1 {
		color: #ffffff;
	}
}

